#calendar{
    margin: 10px 0 0 0;
}
#calendar .fc-toolbar .fc-center h2{
    font-size: 14px;
    font-weight: inherit;
    text-transform: capitalize;
}
#calendar .fc-toolbar .fc-center .fc-prev-button, #calendar .fc-toolbar .fc-center .fc-next-button{
    background-color: #F5f5f5;
    background-image: none;
    color: #FF813F;
    border: 1px solid #e3e3e3;
    text-shadow: none;
    box-shadow: none;
}
#calendar .fc-toolbar .fc-center .fc-prev-button:hover, #calendar .fc-toolbar .fc-center .fc-next-button:hover{
    background-color: #FFF;
}
#calendar .fc-toolbar .fc-center .fc-today-button.fc-state-disabled{
    border: none;
    background-color: transparent;
}
/*day view*/
#calendar .fc-agendaDay-view .fc-unthemed .fc-today{
    background-color: #ffffff;
}
#calendar .fc-agendaDay-view .fc-bg .fc-axis{
    background-color: #fff;
}
#calendar .fc-agendaDay-view td.fc-time{
    text-align: right;
}
#calendar .fc-agendaDay-view .fc-time-grid .fc-slats .fc-minor td{
    border-top-style: dashed;
}

/*reset calendar*/
#calendar .fc-agendaDay-view .fc-head th.fc-widget-header{
    background-color: transparent !important;
}
#calendar .fc-agendaDay-view .fc-time-grid .fc-bg td.fc-today{
    background-color: #FFF !important;
}

#calendar .fc-widget-content{
    border-color: #eeeeee !important;
}

#calendar .fc-toolbar.fc-header-toolbar{
    margin: -10px -15px 0 -10px;
    padding: 15px 15px 15px 10px;
    background: #f5f5f5;
}
#calendar .fc-view-container{
    background: #FFF;
}
#calendar .fc-resource-cell{
    border-style: none;
    border-width: 0;
    background: #FFF;
    padding-bottom: 10px;
    font-weight: inherit;
    padding-top: 10px;
    font-size: 13px;
}
#calendar .fc-minor {
    border: none;
}
#calendar .fc-content .fc-time{
    text-align: left;
    margin-left: 10px;
}
#calendar .fc-content .fc-title{
    text-align: left;
    padding-left: 10px;
}
#calendar .fc-content .fc-description{
    font-size: 12px;
    font-weight: 100;
    color: #555671;
    text-align: left;
    padding-left: 10px;
}
#calendar .pending-app{
    background: #feebb5;
    border: none;
    border-left: 2px solid #f3c13b;
}
#calendar .pending-office{
    background: #fff;
    border: 1px solid #ddd;
    border-left: 2px solid #f3c13b;
}
#calendar .success-app{
    background: #c9e6cb;
    border: none;
    border-left: 2px solid #448749;
}
#calendar .success-office{
    background: #fff;
    border: 1px solid #ddd;
    border-left: 2px solid #448749;
}
#calendar .completed-app{
    background: #c9e6cb;
    border: none;
    border-left: 2px solid #8cbe8f;
}
#calendar .completed-office{
    background: #fff;
    border: 1px solid #ddd;
    border-left: 2px solid #8cbe8f;
}
#calendar .canceled-app{
    background: #fccfd3;
    border: none;
    border-left: 2px solid #da4d48;
}
#calendar .canceled-office{
    background: #fff;
    border: 1px solid #ddd;
    border-left: 2px solid #da4d48;
}
#calendar .blocked{
    background: #eeeeee;
    border: none;
    border-left: 2px solid #a5a5a5;
}
#calendar .fc-content i.pending{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.5em;
    color: #f3c13b;
}
#calendar .fc-content i.success{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.5em;
    color: #448749;
}
#calendar .fc-content i.completed{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.5em;
    color: #8cbe8f;
}
#calendar .fc-content i.canceled{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.5em;
    color: #da4d48;
}
.tooltip-calendar{
    position: absolute;
    z-index: 99;
    width: 220px;
}
.tooltip-calendar .modal-header{
    padding: 0;
    min-height: 0;
}
.tooltip-calendar .modal-header .close{
    padding: 0;
    min-height: 0;
    margin: 0;
    position: absolute;
    top: -20px;
    padding: 0px 10px 2px 10px;
    border-radius: 50%;
    z-index: 99;
    right: -15px;
    opacity: 1;
    background-color: rgb(243, 128, 115) !important;
    border: rgb(243, 128, 115)!important;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff !important;
    line-height: inherit;
    text-shadow: none;
}
.tooltip-calendar .modal-header .close:hover{
    background-color: #FF553F!important;
    border: #FF553F !important;
    color: #fff !important;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}
.tooltip-calendar .btn{
    width: 100%;
}
.btn-mark{
    color: #fff;
    background-color: rgb(243, 128, 115);
    border: rgb(243, 128, 115);
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}
.btn-mark:hover{
    background-color: #FF553F;
    border: #FF553F;
    color: #fff;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}