#calendar{
    margin: 10px 0 0 0;
}
#calendar .fc-toolbar.fc-header-toolbar{
    margin: -10px -15px 0 -10px;
    padding: 15px 15px 15px 10px;
    background: #f5f5f5;
}
#calendar .fc-view-container{
    background: #FFF;
}
#calendar .fc-resource-cell{
    border-style: none;
    border-width: 0;
    background: #f5f5f5;
    padding-bottom: 10px;
    font-weight: inherit;
}
#calendar .fc-axis{
    background: #f5f5f5;
}
#calendar .fc-minor {
    border: none;
}
#calendar .fc-minor .fc-axis{
    background: #f5f5f5;
}
#calendar .fc-time{
    text-align: left;
    margin-left: 10px;
}
#calendar .fc-title{
    text-align: left;
    padding-left: 10px;
}
#calendar .fc-description{
    font-size: 12px;
    font-weight: 100;
    color: #555671;
    text-align: left;
    padding-left: 10px;
}
#calendar .pendente-app{
    background: #feebb5;
    border: none;
    border-left: 2px solid #f3c13b;
}
#calendar .pendente-manual{
    background: #fff;
    border: 1px solid #ddd;
    border-left: 2px solid #f3c13b;
}
#calendar .aprovado-app{
    background: #c9e6cb;
    border: none;
    border-left: 2px solid #448749;
}
#calendar .aprovado-manual{
    background: #fff;
    border: 1px solid #ddd;
    border-left: 2px solid #448749;
}
#calendar .concluido-app{
    background: #c9e6cb;
    border: none;
    border-left: 2px solid #8cbe8f;
}
#calendar .concluido-manual{
    background: #fff;
    border: 1px solid #ddd;
    border-left: 2px solid #8cbe8f;
}
#calendar .naocompareceu-app{
    background: #fccfd3;
    border: none;
    border-left: 2px solid #da4d48;
}
#calendar .naocompareceu-manual{
    background: #fff;
    border: 1px solid #ddd;
    border-left: 2px solid #da4d48;
}
#calendar .bloqueado{
    background: #eeeeee;
    border: none;
    border-left: 2px solid #a5a5a5;
}
.tooltip-calendar{
    position: absolute;
    z-index: 99;
    width: 220px;
}
.tooltip-calendar .modal-header{
    padding: 0;
    min-height: 0;
}
.tooltip-calendar .modal-header .close{
    padding: 0;
    min-height: 0;
    margin: 0;
    position: absolute;
    top: -20px;
    padding: 0px 10px 2px 10px;
    border-radius: 50%;
    z-index: 99;
    right: -15px;
    opacity: 1;
    background-color: rgb(243, 128, 115) !important;
    border: rgb(243, 128, 115)!important;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff !important;
    line-height: inherit;
    text-shadow: none;
}
.tooltip-calendar .modal-header .close:hover{
    background-color: #FF553F!important;
    border: #FF553F !important;
    color: #fff !important;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}
.tooltip-calendar .btn{
    width: 100%;
}
.btn-mark{
    color: #fff;
    background-color: rgb(243, 128, 115);
    border: rgb(243, 128, 115);
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}
.btn-mark:hover{
    background-color: #FF553F;
    border: #FF553F;
    color: #fff;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}